* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    background: url('./background.jpg');
    background-size: cover;
    font-family:sans-serif;
}

.keys {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

kbd {
    display: block;
    font-size: 8rem;
    margin-top: 1rem;
    margin-bottom: 3.5rem;
    text-shadow: 0 0 .5rem black;
}

.red-key, .orange-key, .yellow-key {
    border: .4rem solid black;
    border-radius: 1rem;
    padding: 1.75rem 1.75rem;
    margin: 2rem;
    width: 11.75rem;
    height: 22.5rem;
    font-size: 1.35rem;
    color: #E6E8BF;
    text-align: center;
}


.red-key {
    background-color:rgba(221, 29, 0, 0.85);
}

.orange-key {
    background-color:rgba(242, 121, 0, 0.85);
}

.yellow-key {
    background-color:rgba(221, 218, 0, 0.85);
}

.sound {
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: bolder;
    color: black;
} 